<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634181039851-5rhrsqhi470eui21a3jsmjf4qr17v7sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634181039851-5rhrsqhi470eui21a3jsmjf4qr17v7sm</string>
	<key>API_KEY</key>
	<string>AIzaSyALHy-CdesCD4O8c5WOvM27Bb2-V68RyWM</string>
	<key>GCM_SENDER_ID</key>
	<string>634181039851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wook.market</string>
	<key>PROJECT_ID</key>
	<string>wook-market-f874a</string>
	<key>STORAGE_BUCKET</key>
	<string>wook-market-f874a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634181039851:ios:6d50190abe4015c513f0ae</string>
</dict>
</plist>